<link rel="import" href="/javascripts/components/polymer/polymer.html">
<link rel="import" href="/javascripts/components/core-animated-pages/core-animated-pages.html">

<polymer-element name="onboarding-window" noscript>
  <template>
    <link rel="stylesheet" href="/stylesheets/components/onboarding-window.css">

    <div class="onboarding__window" layout vertical center>
      <shadow></shadow>
    </div>

    <script>
      this.currentStep = 1;

    </script>
  </template>
</polymer-element>