- content_for(:components) do
  %link{:rel => "import", :href => "/javascripts/components/core-pages/core-pages.html"}
  %link{:rel => "import", :href => "/components/onboarding-window.html"}

%div{:layout => "", :vertical => "", "center-center" => "", :fit => ""}
  %core-pages{:class => "onboarding__window", :selected => "0"}
    %onboarding-step{:layout => "", :vertical => "", "center-center" => ""}
      %h2 Step 1
      %p Lorem ipsum dolor sit amet
    %onboarding-step{:layout => "", :vertical => "", "center-center" => ""}
      %h2 Step 2
      %p Lorem ipsum dolor sit amet
    %onboarding-step{:layout => "", :vertical => "", "center-center" => ""}
      %h2 Step 3
      %p Lorem ipsum dolor sit amet
  %button.button Next step
