- content_for(:components) do
  %link{:rel => "import", :href => "/components/onboarding-window.html"}

.container{:layout => "", :vertical => "", :center => ""}
  %onboarding-window
    %h2 How does this work?
    %p Lorem ipsum dolor sit amet