- content_for(:components) do
  %link{:rel => "import", :href => "/components/onboarding-window.html"}

.container
  %onboarding-window
    %core-animated-pages{:fit => "", :selected => "1", :transitions => "slide-from-right"}
      %onboarding-step
        %h2 Step 1
        %p Lorem ipsum dolor sit amet
      %onboarding-step
        %h2 Step 2
        %p Lorem ipsum dolor sit amet
      %onboarding-step
        %h2 Step 3
        %p Lorem ipsum dolor sit amet  }
